<%= render 'show' %>
<div class="row justify-content-center">
  <% @reviews.each do |review| %>
    <div class="col-md-1 mb-3 mx-auto">
      <div class="text-center">
        <%= link_to book_path(review.book.isbn) do %>
          <%= image_tag review.book.medium_image_url %>
        <% end %>
        <div class="card-body text-center">
          <p class="card-text">
            <%= link_to book_review_path(review.book, review), class: "btn btn-info" do %>
              <i class="far fa-comments"></i>
            <% end %>
          </p>
        </div>
      </div>
    </div>
  <% end %>
</div>