<%= render 'show' %>
<div class="col-7 mx-auto">
  <div class="d-flex justify-content-center flex-wrap">
    <% @reviews.each do |review| %>
      <div class="mx-2 mb-3">
        <div class="text-center">
          <%= link_to book_path(review.book.isbn) do %>
            <%= image_tag review.book.medium_image_url %>
          <% end %>
          <div class="card-body text-center">
            <p class="card-text">
              <%= link_to book_review_path(review.book, review), class: "btn btn-info" do %>
                <i class="far fa-comments"></i>
              <% end %>
            </p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>