<!-- ヒーローセクション -->
	<section class="hero-section position-relative">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6 p-0">
          <img src="https://dummyimage.com/600x400/000/fff" alt="新発売の小説" class="img-fluid mb-4 mb-lg-0">
        </div>
        <div class="col-lg-6 p-0">
          <img src="https://dummyimage.com/600x400/000/fff" alt="人気小説" class="img-fluid position-relative">
        </div>
      </div>
    </div>
  </section>
　
	<!-- コンテンツ -->
	<section class="new-books my-5">
		<div class="container">
			<h2 class="text-center mb-4">新発売の小説</h2>
			<div class="row">
				<div class="col-lg-2 col-md-4 col-sm-6 mb-4">
					<img src="https://via.placeholder.com/300x450.png" alt="新書1" class="img-thumbnail">
				</div>
				<div class="col-lg-2 col-md-4 col-sm-6 mb-4">
					<img src="https://via.placeholder.com/300x450.png" alt="新書2" class="img-thumbnail">
				</div>
				<div class="col-lg-2 col-md-4 col-sm-6 mb-4">
					<img src="https://via.placeholder.com/300x450.png" alt="新書3" class="img-thumbnail">
				</div>
				<div class="col-lg-2 col-md-4 col-sm-6 mb-4">
					<img src="https://via.placeholder.com/300x450.png" alt="新書4" class="img-thumbnail">
				</div>
				<div class="col-lg-2 col-md-4 col-sm-6 mb-4">
					<img src="https://via.placeholder.com/300x450.png" alt="新書5" class="img-thumbnail">
				</div>
			</div>
		</div>
	</section>

	<section class="popular-books my-5">
		<div class="container">
		<h2 class="text-center mb-4">人気の小説</h2>
			<div class="row">
				<div class="col-lg-2 col-md-4 col-sm-6 mb-4">
					<img src="https://via.placeholder.com/300x450.png" alt="人気書1" class="img-thumbnail">
				</div>
				<div class="col-lg-2 col-md-4 col-sm-6 mb-4">
					<img src="https://via.placeholder.com/300x450.png" alt="人気書2" class="img-thumbnail">
				</div>
				<div class="col-lg-2 col-md-4 col-sm-6 mb-4">
					<img src="https://via.placeholder.com/300x450.png" alt="人気書3" class="img-thumbnail">
				</div>
				<div class="col-lg-2 col-md-4 col-sm-6 mb-4">
					<img src="https://via.placeholder.com/300x450.png" alt="人気書4" class="img-thumbnail">
				</div>
				<div class="col-lg-2 col-md-4 col-sm-6 mb-4">
					<img src="https://via.placeholder.com/300x450.png" alt="人気書5" class="img-thumbnail">
				</div>
			</div>
		</div>
	</section>
	