<%= render 'admin/homes/nav' %>

ユーザー管理
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-12">
      <table class="table">
        <thead>
          <tr>
            <th>ユーザー</th>
            <th>メールアドレス</th>
            <th>会員ステータス</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @users.each do |user| %>
            <tr>
              <td><%= user.name %></td>
              <td><%= user.email %></td>
              <% if user.is_deleted == false %>
                <td class="text-success font-weight-bold">有効</td>
              <% else %>
                <td class="text-muted font-weight-bold">退会</td>
              <% end %>
              <td><%= link_to "編集する", edit_admin_user_path(user.id), class: 'btn btn-sm btn-success text-light' %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
